*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
 height: 80px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80vh;
    width:60vw;
    box-shadow: black 0px 5px 15px;
}
.heros{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  grid-gap: 20px;
}
.villians{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  grid-gap: 20px;
} 
.superWars{
    height: 180px;
    width: 100px;
    box-shadow: black 0px 5px 5px;
    padding: 20px;
    padding-top: 20px;
    text-align: center;
}
.superwarScores{
  font-weight: bold;
  font-size: 40px;
  padding: 20px;
}
.footer{
  margin-left : 80px;
  font-size : 18px;
  padding-top: 6px;
}
